<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>orderSys</display-name>
  <welcome-file-list>
    <welcome-file>pages/login.jsp</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
    <servlet-name>LoginOutServlet</servlet-name>
    <url-pattern>/logout.order</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>rtorder</servlet-name>
    <url-pattern>/getrtorder.order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginOutServlet</servlet-name>
    <servlet-class>com.chinasofti.ordersys.servlets.login.LoginOutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>rtorder</servlet-name>
    <servlet-class>com.chinasofti.ordersys.servlets.kitchen.GetRTOrderServlet</servlet-class>
  </servlet>
</web-app>